.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: rgb(19,15,13);
  width: 100vw;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

#header {
  margin-top: 0;
  padding: 0% 2%;
  background: url(/islamic-background.jpeg);
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  margin-top: 0;
  color: #fffff2;
  font-size: 3rem;
  padding-top: 2%;
}



.header-text {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.yellow {
  color: #FFB606;
  text-shadow: 0.5px 0.5px 1px white;
}

.link {
  color:#fffff2;
  text-shadow: 1px 1px 1px #FFB606;
  text-decoration: none;
}

.name {
  font-size: 2rem;
  margin-top: 0;
}

.main-name {
  font-size: 9rem;
  width: 100%;
  margin-bottom: 0;
}

.fville {
  padding-top: 0;
  margin-top: -3%;
  text-shadow: 0.5px 0.5px 1px white;
}

.main-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFB606;
}

.main-inner {
  margin: 1%;
  width: 100%;
  background-color: #fffff2;
  margin-right: 1.4%;
}

.main-top-row, .donate-top-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-top-row img {
  height: 100%;
  width: 100%;
}

.top-row-item {
  width: 100%;
  height: 342px;
  border: 3px solid #FFB606;
  margin: 20px 10px;
}

.main-header, .donate-header, .footer-header {
  color: black;
  text-shadow: 1px 1px 1px #FFB606;
  font-size: 4rem;
  text-align: center;
  margin: 0;
}

.main-bottom-row, .donate-bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.main-bottom-left, .main-bottom-right {
  width: 50%;
}

.donate-bottom-left, .donate-bottom-middle, .donate-bottom-right {
  width: 33%;
}

.main-bottom-left {
  padding: 3%;
  padding-top: 1%
}

.main-bottom-right {
  height: 554.2px;
  padding: 4%;
  padding-top: 1%;
}

table {
  border: 3px solid #FFB606;
}

.prayer-times-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fffff2;
  margin-top: 0px;
}

.prayer-times-table th, .prayer-times-table td {
  border: 1px solid #FFB606;
  padding: 10px;
  text-align: center;
}

.prayer-times-table th {
  background-color: #FFB606;
  color: black;
  text-shadow: 1px 1px 1px #fffff2;
}

.prayer-times-table td {
  background-color: #ffffff;
}

.prayer-times-table tr:nth-child(odd) td {
  background-color: #fffff2;
}

#map {
  height: 482.5px !important;
  border: 3px solid #FFB606;
}

.donate-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fffff2;
}

.donate-inner {
  margin: 1%;
  width: 100%;
  background-color: #FFB606;
  margin-right: 1.4%;
  color: black;
  height: 100%;
  padding-bottom: 4%;
}

.donate-header {
  text-shadow: 1px 1px 1px #fffff2;
}

.donate-btc-header, .donate-zelle-header, .donate-lightning-header {
  height: 65px;
}

.donate-btc {
    padding-top: 0;
    margin-top: 20px;
}

.donate-btc-address {
  text-align: center;
}

.sub-header {
  font-size: 1.5rem;
  padding-top: 0;
  margin-top: -12px;
}

.donate-btc, .donate-zelle, .donate-lightning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
}

.donate-btc-header-text, .donate-zelle-header-text, .donate-lightning-header-text {
  text-shadow: 1px 1px 1px black;
}

.donate-btc-header {
  margin-top: -25px;
}

.donate-btc-address {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.BuyButton-container.is-cardLayout {
  background-color: black;
}

.address {
  text-shadow: 0.5px 0.5px 1px black;
  font-size: 0.75rem !important;
}

.zelle {
  height: 95px;
  margin-top: -31px;
  margin-left: -5px;
}

.donate-zelle-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -38px;
}

.zelle-address {
    height: 284px;
    width: 284px;
    border: 8px solid purple;
    margin-top: -16px;
    background: #fffff2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-zelle-address {
  color: #6D1ED4;
  font-size: 2.3rem;
  text-shadow: 0.5px 0.5px 1px lightslategray;
}

.footer-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFB606;
}

.footer-inner {
  margin: 1%;
  width: 100%;
  background-color: black;
  margin-right: 1.4%;
  padding: 1%;
}

.lightning-qr {
  height: 285px;
  width: 292px;
  border: 7px solid black;
}

.donate-lightning {
  margin-top: -58px;
}

.donate-lightning-header {
  margin-bottom: 5px;
}

.footer-header {
  color: #fffff2;
  text-shadow: 1px 1px 1px #FFB606;
  padding-top: 0;
}

.contact {
  text-align: center;
}

.email-link {
  text-decoration: none;
  color: white;
  text-shadow: 0.5px 0.5px 1px #FFB606;
  text-align: center;
}

.mt {
  margin-top: 0px;
}

.donate-stripe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donate-stripe-header-text {
  font-size: 3rem;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 0;
}

.ProductImage-imageContainer img {
  border: 2px solid black;
}

.mobile {
  display: none !important;
}

@media (max-width: 767px) {
  /* Your styles for small devices here */
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
    margin-top: 65%;
    width: 100%;
  }
  #header {
    justify-content: normal;
    height: 100vh;
  }
  h1 {
    font-size: 2.2rem;
  }
  .link {
    color: #FFB606;
    text-shadow: 0.5px 0.5px 1px #FFF;
    text-decoration: none;
  }
  .greeting {
    display: none;
  }
  .header-text {
    width: 100%;
    margin-top: 7%;
  }
  .main-name {
    font-size: 3.6rem;
    text-align: center;
    width: 100%;
  }
  .fville {
    width: 95%;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 5%;
    line-height: 1.25;
  }
  #map {
    height: 443.5px !important;
  }
  .main-top-row, .main-bottom-row {
    flex-direction: column;
    padding: 0px 10px;
  }
  .donate-inner .header-text {
    font-size: 2.5rem;
    margin-bottom: 3%;
    text-align: center;
  }
  .donate-bottom-row {
    flex-direction: column;
  }
  .donate-bottom-left, .donate-bottom-middle, .donate-bottom-right {
    width: 100%;
  }
  .donate-bottom-right {
    margin: 0 auto;
  }
  .donate-btc-header, .donate-zelle-header, .donate-lightning-header {
    height: 100%;
  }
  .donate-top-header h1 {
    font-size: 3.5rem !important;
  }
  .zelle {
    margin-top: 15px;
    margin-left: -5px;
  }
  .main-bottom-left, .main-bottom-right {
    width: 100%;
  }
}